body {
  background-image: linear-gradient(to right, rgb(215, 141, 231), rgb(128, 214, 240));
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
.product-card {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
.productImage {
    width: 100%;
    height: 150px;
    object-fit: contain;
  }

  .pageTitle {
    text-align: center;
  }

  #transcriptSection {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centers content horizontally */
    justify-content: center;  /* Centers content vertically */
    padding: 20px;  /* Add some space around */
    margin-top: 20px;  /* Ensure there's some space from above */
}

#audioPlayer {
    width: 100%;  /* Ensure it takes up the full width of its container */
    max-width: 1200px;  /* Optional: Set a max width to avoid it becoming too large */
    margin-top: 4px;
}